In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("uciml/default-of-credit-card-clients-dataset")

print("Path to dataset files:", path)

c:\Users\hp\Documents\mlendtoend\venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/uciml/default-of-credit-card-clients-dataset?dataset_version_number=1...

100%|██████████| 0.98M/0.98M [00:01<00:00, 655kB/s]

Extracting files...
Path to dataset files: C:\Users\hp\.cache\kagglehub\datasets\uciml\default-of-credit-card-clients-dataset\versions\1

In [4]:
import os

In [5]:
dataset = r'C:\Users\hp\Documents\mlendtoend\data'

In [8]:
os.makedirs(dataset,exist_ok=True)

In [12]:
import pandas as pd

In [10]:
%ls C:\Users\hp\.cache\kagglehub\datasets\uciml\default-of-credit-card-clients-dataset\versions\1

 Volume in drive C has no label.
 Volume Serial Number is 30F0-5FB7

 Directory of C:\Users\hp\.cache\kagglehub\datasets\uciml\default-of-credit-card-clients-dataset\versions\1

12-07-2025  09:31 AM    <DIR>          .
12-07-2025  09:31 AM    <DIR>          ..
12-07-2025  09:31 AM         2,862,995 UCI_Credit_Card.csv
               1 File(s)      2,862,995 bytes
               2 Dir(s)  116,489,834,496 bytes free

In [13]:
df = pd.read_csv(r'C:\Users\hp\.cache\kagglehub\datasets\uciml\default-of-credit-card-clients-dataset\versions\1\UCI_Credit_Card.csv')

In [14]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [15]:
os.makedirs(r'C:\Users\hp\Documents\mlendtoend\data\rawdata',exist_ok=True)

In [16]:
df.to_csv(r'C:\Users\hp\Documents\mlendtoend\data\rawdata\rawdata.csv',index=False)

In [ ]:
datacollection.py
datacleaning.py
preproccessing.py
modelbuilding.py