In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\hp\Documents\mlendtoend\data\cleaneddata\cleaned.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [7]:
df['default.payment.next.month'].value_counts()

default.payment.next.month
0    23364
1     6636
Name: count, dtype: int64

In [9]:
from imblearn.over_sampling import SMOTE

In [10]:
df.drop('ID',axis=1,inplace=True)

In [12]:
x=df.drop('default.payment.next.month',axis=1)
y=df['default.payment.next.month']

In [13]:
x,y=SMOTE().fit_resample(X=x,y=y)

In [14]:
y.value_counts(0)

default.payment.next.month
1    23364
0    23364
Name: count, dtype: int64

In [15]:
import os

In [16]:
os.makedirs(r'C:\Users\hp\Documents\mlendtoend\data\preprocessdata',exist_ok=True)

In [17]:
x.to_csv(r'C:\Users\hp\Documents\mlendtoend\data\preprocessdata\x.csv',index=False)

In [18]:
y.to_csv(r'C:\Users\hp\Documents\mlendtoend\data\preprocessdata\y.csv',index=False)